data/
bak/
my_try/
test_server/
semvision_server/
__pycache__/
ultralytics/
pkgs/
labelme-main/
uploads/
node_modules/
__pycache__/

.svn/
.vscode/
.ipynb_checkpoints/
*.pkl
*.txt
*.ipynb
*.log
*.env*
.vscode/
bak/
dist/
*.log.*


*Dockerfile
docker-compose.yml
package-existing-env.sh
README.md